<div class="col-12">
    <div class="d-flex flex-wrap gap-2">
        <a class="btn-custom {% if active_stats_tab == 'overview' %}active{% else %}btn-custom-outline{% endif %} py-1 px-3" href="{{ url_for('org_stats', org_id=org.id) }}">
            <i class="fa-solid fa-id-card me-1"></i>Drivers
        </a>
        <a class="btn-custom {% if active_stats_tab == 'class_pace' %}active{% else %}btn-custom-outline{% endif %} py-1 px-3" href="{{ url_for('org_class_pace', org_id=org.id) }}">
            <i class="fa-solid fa-chart-line me-1"></i>Class Pace
        </a>
        <a class="btn-custom {% if active_stats_tab == 'participation' %}active{% else %}btn-custom-outline{% endif %} py-1 px-3" href="{{ url_for('org_participation', org_id=org.id) }}">
            <i class="fa-solid fa-users me-1"></i>Participation
        </a>
        <a class="btn-custom {% if active_stats_tab == 'most_improved' %}active{% else %}btn-custom-outline{% endif %} py-1 px-3" href="{{ url_for('org_most_improved', org_id=org.id) }}">
            <i class="fa-solid fa-arrow-trend-up me-1"></i>Most Improved
        </a>
        <a class="btn-custom {% if active_stats_tab == 'wins_podiums' %}active{% else %}btn-custom-outline{% endif %} py-1 px-3" href="{{ url_for('org_wins_podiums', org_id=org.id) }}">
            <i class="fa-solid fa-trophy me-1"></i>Wins &amp; Podiums
        </a>
    </div>
</div>
